{
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"semi": false,
	"overrides": [
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "html"
			}
		}
	]
}
